<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello high place</title>
</head>
<body>
<h1 style="color: yellowgreen">Drug list</h1>
<a href="/create-drug" style="color: red; text-decoration: none">Create new drug</a>
<table border="1px">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="drug : ${drugs}">
        <td th:text="${drug.name}"></td>
        <td th:text="${drug.price}">$</td>
        <td><a th:href="@{/drugs/edit/__${drug.id}__ }">Edit</a></td>
        <td><a th:href="@{/drugs/delete/__${drug.id}__ }">Delete</a></td>
        <td><a th:href="@{/drugs/view/__${drug.id}__ }">View</a></td>
    </tr>
</table>
</body>
</html>